<center><h1>Testing Notebook</h1></center>

## Loading Entities:

 - Power System
 - Ant Colony

In [1]:
from acopoweropt import system, colony

PSystem = system.PowerSystem(name='s15')
Colony = colony.Colony(n_ants=5,phr_evp_rate=0.25)

## Testing Power System

In [2]:
# Randomly select an operation
operation = PSystem.sample_operation()

# Solve system
solution = PSystem.solve(operation=operation)

In [ ]:
solution.get('Ft')

In [14]:
solution.get('operation').index.tolist()
df.query('tgu in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] & opz in [1, 3, 1, 1, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1]')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [10]:
df = PSystem.data
sol = solution.get('operation')

query = 'tgu in {} & opz == {}'.format(sol.index.tolist(), sol.opz.tolist())

In [19]:
sol.opz.tolist()

[1, 2, 1, 1, 1, 4, 1, 1, 1, 1, 1, 2, 1, 1, 1]

In [25]:
def get_operation(operative_zones: list) -> pd.DataFrame:
    """Returns the operation configuration given a list of operative zones

    Parameters
    ----------
    operative_zones: list
        List of operative zones for each TGU.

    Returns
    -------
    pandas.DataFrame
        DataFrame of an operation of the system

    """

    return pd.concat([df.query('tgu == {} & opz == {}'.format(i+1,opz)) for i, opz in enumerate(sol.opz.tolist())])

     opz       a      b         c Pmin Pmax
tgu
1      1  671.03  10.07  0.000299  150  455
2      2  574.54  10.22  0.000183  225  305
3      1  374.59    8.8  0.001126   20  130
4      1  374.59    8.8  0.001126   20  130
5      1  461.37   10.4  0.000205  150  180
6      4  630.14   10.1  0.000301  455  460
7      1   548.2   9.87  0.000364  135  465
8      1  227.09   11.5  0.000338   60  300
9      1  173.72  11.21  0.000807   25  162
10     1  175.95  10.72  0.001203   20  160
11     1  186.86  11.21  0.003586   20   80
12     2  230.27    9.9  0.005513   55   65
13     1  225.28  13.12  0.000371   25   85
14     1  309.03  12.12  0.001929   15   55
15     1  323.79  12.41  0.004447   15   55

In [18]:
l = []
for i, opz in enumerate(sol.opz.tolist()):
    l.append(df.query('tgu == {} & opz == {}'.format(i+1,opz)))

import pandas as pd

pd.concat(l)

     opz       a      b         c Pmin Pmax
tgu
1      1  671.03  10.07  0.000299  150  455
2      2  574.54  10.22  0.000183  225  305
3      1  374.59    8.8  0.001126   20  130
4      1  374.59    8.8  0.001126   20  130
5      1  461.37   10.4  0.000205  150  180
6      4  630.14   10.1  0.000301  455  460
7      1   548.2   9.87  0.000364  135  465
8      1  227.09   11.5  0.000338   60  300
9      1  173.72  11.21  0.000807   25  162
10     1  175.95  10.72  0.001203   20  160
11     1  186.86  11.21  0.003586   20   80
12     2  230.27    9.9  0.005513   55   65
13     1  225.28  13.12  0.000371   25   85
14     1  309.03  12.12  0.001929   15   55
15     1  323.79  12.41  0.004447   15   55

In [12]:
df.query(query)

     opz       a      b         c Pmin Pmax
tgu
1      1  671.03  10.07  0.000299  150  455
2      1  574.54  10.22  0.000183  150  185
2      2  574.54  10.22  0.000183  225  305
2      4  574.54  10.22  0.000183  450  455
3      1  374.59    8.8  0.001126   20  130
4      1  374.59    8.8  0.001126   20  130
5      1  461.37   10.4  0.000205  150  180
5      2  461.37   10.4  0.000205  200  260
5      4  461.37   10.4  0.000205  420  470
6      1  630.14   10.1  0.000301  135  230
6      2  630.14   10.1  0.000301  255  365
6      4  630.14   10.1  0.000301  455  460
7      1   548.2   9.87  0.000364  135  465
8      1  227.09   11.5  0.000338   60  300
9      1  173.72  11.21  0.000807   25  162
10     1  175.95  10.72  0.001203   20  160
11     1  186.86  11.21  0.003586   20   80
12     1  230.27    9.9  0.005513   20   30
12     2  230.27    9.9  0.005513   55   65
13     1  225.28  13.12  0.000371   25   85
14     1  309.03  12.12  0.001929   15   55
15     1  323.79  12.41  0.004447   15   55

## Testing Colony

In [ ]:
import pandas as pd
import random


# df = pd.DataFrame([(
#     ant,
#     *[random.randint(1,j) for i,j in PSystem.opzs.itertuples()]
#     ) for ant in range(1, Colony.n_ants + 1)
# ]).rename(columns = {0: 'ant'}, inplace = False).set_index('ant')