<center><h1>Testing Notebook</h1></center>

## Loading Entities:

 - Power System
 - Ant Colony

In [1]:
from acopoweropt import system, colony

PSystem = system.PowerSystem(name='s10')
Colony = colony.Colony(n_ants=5,phr_evp_rate=0.25)

## Testing Power System

In [2]:
# Randomly select an operation
operation = PSystem.sample_operation()

# Solve system
solution = PSystem.solve(operation=operation)

In [ ]:
solution.get('Ft')

## Testing Colony

In [1]:
from acopoweropt import colony

AntColony = colony.Colony(n_ants=5, phr_evp_rate=0.25)
AntColony.initialize(power_system_name='s10')

ants = AntColony.initial_paths

Colony initialized with Power System s10

In [2]:
import pandas as pd

# 0 - Initialize pheromone matrix
phr_df = ants[['path', 'tau']].reset_index(drop=True).groupby(['path']).sum()
phr_df['prob'] = phr_df.tau * 100 / ants.tau.sum()

In [3]:
# 1 - Sample 80% to follow paths leaving 20% of the ants to select new paths

follow_paths = ants.sample(frac=0.8, replace=False, random_state=1)
new_paths = ants.drop(follow_paths.index)

In [13]:
new_paths

                    path   status    distance       tau
ant
4    1,1,1,1,3,2,2,3,3,3  optimal  745.923751  0.001341

In [11]:
from acopoweropt import system

PSystem = system.PowerSystem(name='s10')

def sample_new
l = []
for ant in new_paths:
    print(ant)
    option = PSystem.sample_operation()
    result = PSystem.solve(operation=option)
    distance = result.get("Ft")
    status = result.get("status")

    l.append(
        {
            "ant": ant,
            "path": ",".join([str(int) for int in option.opz.to_list()]),
            "status": status,
            "distance": distance,
            "tau": 1 / distance,

        }
    )
df = pd.DataFrame(l).set_index("ant")

4

In [12]:
df

                    path   status    distance       tau
ant
4    2,1,3,2,2,2,1,3,1,3  optimal  760.913297  0.001314

In [5]:
# 2 - Generate new paths for ants
PSystem = system.PowerSystem(name=power_system_name)

l = []
for ant in new_paths:
    option = PSystem.sample_operation()
    result = PSystem.solve(operation=option)
    distance = result.get("Ft")
    status = result.get("status")

    l.append(
        {
            "ant": ant,
            "path": ",".join([str(int) for int in option.opz.to_list()]),
            "status": status,
            "distance": distance,
            "tau": 1 / distance,

        }
    )
df = pd.DataFrame(l).set_index("ant")

print("Colony initialized with Power System {}".format(power_system_name))

                    path   status    distance       tau
ant
4    1,1,1,1,3,2,2,3,3,3  optimal  745.923751  0.001341

In [59]:
new_paths

                    path   status    distance       tau       prob
ant
4    2,3,2,2,1,1,3,1,2,3  optimal  738.691487  0.001354  26.002457

In [53]:
df

                    path   status      distance           tau       prob
ant
1    1,1,3,1,2,1,1,1,2,2  optimal  8.022215e+02  1.246538e-03  23.943254
2    1,1,2,1,3,2,1,1,2,3  optimal  7.646213e+02  1.307837e-03  25.120662
3    1,1,3,3,2,1,3,1,3,2  optimal  7.703571e+02  1.298099e-03  24.933625
4    2,3,2,2,1,1,3,1,2,3  optimal  7.386915e+02  1.353745e-03  26.002457
5    2,3,1,1,2,2,1,2,1,1  unknown  1.000000e+10  1.000000e-10   0.000002

In [33]:
sample = df.sample(weights='prob')
sample

                    path   status    distance       tau       prob
ant
4    2,2,3,3,1,3,3,2,1,3  optimal  762.488881  0.001311  33.156532

In [ ]:
df.drop[sample.idxe]

In [43]:
sample.ant

AttributeError: 'DataFrame' object has no attribute 'ant'