<center><h1>Testing Notebook</h1></center>

## Loading Entities:

 - Power System
 - Ant Colony

In [ ]:
from acopoweropt import system, colony

PSystem = system.PowerSystem(name='s10')
Colony = colony.Colony(n_ants=5,phr_evp_rate=0.25)

## Testing Power System

In [ ]:
# Randomly select an operation
operation = PSystem.sample_operation()

# Solve system
solution = PSystem.solve(operation=operation)

In [ ]:
solution.get('Ft')

## Testing Colony

In [1]:
import pandas as pd
import numpy as np

from acopoweropt import colony, system

In [31]:
import pandas as pd
import numpy as np
import random

from acopoweropt import colony, system

PSystem = system.PowerSystem(name='s10')
Colony = colony.PowerColony(n_ants=25,
                            pheromone_evap_rate=0.25,
                            PowerSystem=PSystem)

print("Iteracao: {} - MinValue: {}".format(0, Colony.paths[0].distance.min()))

n_iter = 150

for i in range(n_iter):
    # Getting last taken paths
    paths = Colony.paths[i].copy()
    
    # Evaporate Pheromone
    Colony.pheromone = (1 - Colony.pheromone_evap_rate) * Colony.pheromone
   
    # Selecting Ants (80/20) to follow or not the pheromone paths
    l = []
    for ant in range(1, Colony.n_ants + 1):
        decision = random.random()
        if decision <= 0.8:
            ## ANT Follows Path
            operative_zones = Colony.choose_path()
            chosen_path = ",".join([str(int) for int in operative_zones])
            existing_path = paths.query("path == '{}'".format(chosen_path)) 

            ## Check if chosen path was already calculated:
            if existing_path.values.size != 0:
                existing_path = existing_path.reset_index()
                existing_path['ant'] = ant
                existing_path = existing_path.set_index('ant')
                l.append(existing_path)
            else:
                operation = PSystem.get_operation(operative_zones=operative_zones)
                solution = pd.DataFrame([Colony.seek_food(ant=ant, operation=operation, PowerSystem=PSystem)]).set_index('ant')
                l.append(solution)
                
        else:
        ## ANT Sets to new path
            operation = PSystem.sample_operation()
            solution = pd.DataFrame([Colony.seek_food(ant=ant, operation=operation, PowerSystem=PSystem)]).set_index('ant')
            l.append(solution)

    new_paths = pd.concat(l).sort_index()
    Colony.paths.update({i+1: new_paths})
    
    # Updating Pheromone
    new_pheromone = Colony.update_pheromone(paths=new_paths)
    Colony.pheromone_history.update({i+1: new_pheromone})
    
    print("Iteracao: {} - MinValue: {}".format(i+1, Colony.paths[i+1].distance.min()))

Iteracao: 0 - MinValue: 670.3805877176532
Iteracao: 1 - MinValue: 690.1419599895979
Iteracao: 2 - MinValue: 669.7456153149215
Iteracao: 3 - MinValue: 675.0931096808683
Iteracao: 4 - MinValue: 683.6539626404996
Iteracao: 5 - MinValue: 678.9758515900681
Iteracao: 6 - MinValue: 692.6708337127171
Iteracao: 7 - MinValue: 689.877287338153
Iteracao: 8 - MinValue: 665.9906264854745
Iteracao: 9 - MinValue: 684.9399950472725
Iteracao: 10 - MinValue: 677.9772117138508
Iteracao: 11 - MinValue: 670.7968707059312
Iteracao: 12 - MinValue: 684.9400112908087
Iteracao: 13 - MinValue: 684.5566586837862
Iteracao: 14 - MinValue: 671.3431363286034
Iteracao: 15 - MinValue: 690.8050632843031
Iteracao: 16 - MinValue: 678.0756918211873
Iteracao: 17 - MinValue: 684.3654121563842
Iteracao: 18 - MinValue: 664.2099125627253
Iteracao: 19 - MinValue: 670.4620269524241
Iteracao: 20 - MinValue: 678.5641039362067
Iteracao: 21 - MinValue: 670.1184669809858
Iteracao: 22 - MinValue: 662.9383400414536
Iteracao: 23 - MinValue: 680.041620225415
Iteracao: 24 - MinValue: 674.0546869098281
Iteracao: 25 - MinValue: 700.6498017094179
Iteracao: 26 - MinValue: 676.3391619184828
Iteracao: 27 - MinValue: 661.7239662852336
Iteracao: 28 - MinValue: 683.3836736826073
Iteracao: 29 - MinValue: 681.033437537189
Iteracao: 30 - MinValue: 683.8719600294396
Iteracao: 31 - MinValue: 666.0287371530725
Iteracao: 32 - MinValue: 678.5641162403037
Iteracao: 33 - MinValue: 671.1246822459832
Iteracao: 34 - MinValue: 660.3251168240403
Iteracao: 35 - MinValue: 664.8056142373484
Iteracao: 36 - MinValue: 663.4734475574132
Iteracao: 37 - MinValue: 663.2983307740101
Iteracao: 38 - MinValue: 681.4360389621859
Iteracao: 39 - MinValue: 667.8879650352042
Iteracao: 40 - MinValue: 668.2531134072391
Iteracao: 41 - MinValue: 686.9284075297026
Iteracao: 42 - MinValue: 676.9273802801564
Iteracao: 43 - MinValue: 678.8833268392716
Iteracao: 44 - MinValue: 685.3987389312255
Iteracao: 45 - MinValue: 665.9906264854745
Iteracao: 46 - MinValue: 680.3510474015827
Iteracao: 47 - MinValue: 655.1709084656641
Iteracao: 48 - MinValue: 676.9554360506352
Iteracao: 49 - MinValue: 664.8056142373487
Iteracao: 50 - MinValue: 663.2983307740101
Iteracao: 51 - MinValue: 663.2033209712133
Iteracao: 52 - MinValue: 674.5366193894766
Iteracao: 53 - MinValue: 670.0053197078169
Iteracao: 54 - MinValue: 679.1591668679233
Iteracao: 55 - MinValue: 681.6774053478406
Iteracao: 56 - MinValue: 675.0420029245126
Iteracao: 57 - MinValue: 664.8056142373484
Iteracao: 58 - MinValue: 677.4832580310429
Iteracao: 59 - MinValue: 669.7456153149215
Iteracao: 60 - MinValue: 663.0832691988331
Iteracao: 61 - MinValue: 680.8928872541782
Iteracao: 62 - MinValue: 655.1709084656641
Iteracao: 63 - MinValue: 689.3803976996464
Iteracao: 64 - MinValue: 678.4719416325055
Iteracao: 65 - MinValue: 677.2454715823434
Iteracao: 66 - MinValue: 677.0276793667922
Iteracao: 67 - MinValue: 666.8972934124313
Iteracao: 68 - MinValue: 671.2630841298187
Iteracao: 69 - MinValue: 674.0218150516461
Iteracao: 70 - MinValue: 655.1709084656641
Iteracao: 71 - MinValue: 668.3627950474735
Iteracao: 72 - MinValue: 673.7204601199219
Iteracao: 73 - MinValue: 684.5468987456394
Iteracao: 74 - MinValue: 660.3251168240404
Iteracao: 75 - MinValue: 658.8576755120943
Iteracao: 76 - MinValue: 667.4407839385989
Iteracao: 77 - MinValue: 673.4516261342236
Iteracao: 78 - MinValue: 664.7386187749386
Iteracao: 79 - MinValue: 683.5362609370789
Iteracao: 80 - MinValue: 658.3306138123529
Iteracao: 81 - MinValue: 665.4179557867628
Iteracao: 82 - MinValue: 683.1971730174627
Iteracao: 83 - MinValue: 673.8137030154008
Iteracao: 84 - MinValue: 667.201000099023
Iteracao: 85 - MinValue: 692.3792128891359
Iteracao: 86 - MinValue: 669.6323796291894
Iteracao: 87 - MinValue: 674.4433950023109
Iteracao: 88 - MinValue: 662.9383400414536
Iteracao: 89 - MinValue: 674.3308061932813
Iteracao: 90 - MinValue: 678.8111447068752
Iteracao: 91 - MinValue: 687.6266155378274
Iteracao: 92 - MinValue: 683.7168489902607
Iteracao: 93 - MinValue: 668.9400135186054
Iteracao: 94 - MinValue: 677.9743179491901
Iteracao: 95 - MinValue: 673.6484012365928
Iteracao: 96 - MinValue: 664.7386187749385
Iteracao: 97 - MinValue: 681.1366398219752
Iteracao: 98 - MinValue: 666.5139968200642
Iteracao: 99 - MinValue: 691.1420266055037
Iteracao: 100 - MinValue: 703.7299841137628
Iteracao: 101 - MinValue: 682.0832678999228
Iteracao: 102 - MinValue: 679.646725842872
Iteracao: 103 - MinValue: 702.4369893763306
Iteracao: 104 - MinValue: 670.4620269524241
Iteracao: 105 - MinValue: 681.3212905753464
Iteracao: 106 - MinValue: 679.6645609259355
Iteracao: 107 - MinValue: 673.3638503449351
Iteracao: 108 - MinValue: 690.3505787039832
Iteracao: 109 - MinValue: 690.3551333194475
Iteracao: 110 - MinValue: 703.0292036223381
Iteracao: 111 - MinValue: 674.636563564511
Iteracao: 112 - MinValue: 681.9292059618105
Iteracao: 113 - MinValue: 681.3563180077482
Iteracao: 114 - MinValue: 676.28565700172
Iteracao: 115 - MinValue: 675.843280086372
Iteracao: 116 - MinValue: 699.8699355085911
Iteracao: 117 - MinValue: 702.8209810173366
Iteracao: 118 - MinValue: 694.2828203253538
Iteracao: 119 - MinValue: 664.7639729197327
Iteracao: 120 - MinValue: 690.8056453714481
Iteracao: 121 - MinValue: 681.5048152643601
Iteracao: 122 - MinValue: 678.4567678486903
Iteracao: 123 - MinValue: 693.7669343633495
Iteracao: 124 - MinValue: 681.9337974050638
Iteracao: 125 - MinValue: 672.8368841098448
Iteracao: 126 - MinValue: 663.2983307740099
Iteracao: 127 - MinValue: 680.7839575607381
Iteracao: 128 - MinValue: 682.3971376395407
Iteracao: 129 - MinValue: 671.2169121799338
Iteracao: 130 - MinValue: 667.8879650352042
Iteracao: 131 - MinValue: 671.5921960390128
Iteracao: 132 - MinValue: 690.9577494783126
Iteracao: 133 - MinValue: 691.9913435296033
Iteracao: 134 - MinValue: 687.0475549319976
Iteracao: 135 - MinValue: 696.3898679885086
Iteracao: 136 - MinValue: 680.0855296754356
Iteracao: 137 - MinValue: 652.254870464139
Iteracao: 138 - MinValue: 690.8050632843028
Iteracao: 139 - MinValue: 684.3059460458995
Iteracao: 140 - MinValue: 664.8056142373485
Iteracao: 141 - MinValue: 679.5445332647346
Iteracao: 142 - MinValue: 670.9809754429061
Iteracao: 143 - MinValue: 669.2553216480957
Iteracao: 144 - MinValue: 681.0616250440551
Iteracao: 145 - MinValue: 688.7813137422297
Iteracao: 146 - MinValue: 684.2208135009672
Iteracao: 147 - MinValue: 675.0931096808683
Iteracao: 148 - MinValue: 670.5145747387065
Iteracao: 149 - MinValue: 688.8967813568543
Iteracao: 150 - MinValue: 670.9987382179877

In [32]:
l = []
for path in Colony.paths:
    l.append(Colony.paths[path])
df = pd.concat(l)

In [34]:
Colony.pheromone

,1,2,3,4,5,6,7,8,9,10
opz,,,,,,,,,,
1,66.292709,49.881150,31.703668,40.644173,49.899381,35.720817,46.459426,33.953738,22.408411,41.496623
2,56.586960,26.612022,39.430926,43.546449,29.767479,29.929896,52.547847,30.345202,60.883114,36.300803
3,0.000000,46.386497,51.745075,38.689046,43.212808,57.228956,23.872395,58.580729,39.588143,45.082242

In [33]:
df.groupby(['path']).count().sort_values(by=['distance'], ascending=False)

                     status  distance  tau
path
2,3,3,2,3,3,3,2,3,3       3         3    3
1,1,2,2,2,3,3,3,2,2       3         3    3
2,3,2,3,1,3,2,3,3,2       3         3    3
1,2,3,3,1,3,1,1,3,1       3         3    3
2,3,2,3,1,3,3,3,3,1       3         3    3
...                     ...       ...  ...
1,3,1,2,2,1,1,1,1,3       1         1    1
1,3,1,2,2,1,1,3,1,1       1         1    1
1,3,1,2,2,1,1,3,1,2       1         1    1
1,3,1,2,2,1,1,3,1,3       1         1    1
2,3,3,3,3,3,3,3,2,1       1         1    1

[3563 rows x 3 columns]

In [4]:
optimal = [1,3,1,1,3,4,1,1,1,1,1,2,1,1,1]
test = [1,2,1,1,2,3,1,1,1,1,1,2,1,1,1]

operation = PSystem.get_operation(operative_zones=test)

solution = PSystem.solve(operation=operation)

pd.DataFrame([Colony.seek_food(ant=1, operation=operation, PowerSystem=PSystem)]).set_index('ant')

                              path   status     distance       tau
ant
1    1,2,1,1,2,3,1,1,1,1,1,2,1,1,1  optimal  32702.10893  0.000031

In [5]:
solution['operation']

     opz       a      b         c Pmin Pmax          Pg           Fi
tgu
1      1  671.03  10.07  0.000299  150  455  454.999922  5314.779665
2      2  574.54  10.22  0.000183  225  305  304.999927  3708.662817
3      1  374.59    8.8  0.001126   20  130  129.999959  1537.619026
4      1  374.59    8.8  0.001126   20  130  129.999959  1537.619026
5      2  461.37   10.4  0.000205  200  260  259.999919  3179.227147
6      3  630.14   10.1  0.000301  395  430  429.999920  5028.794073
7      1   548.2   9.87  0.000364  135  465  464.999927  5216.455158
8      1  227.09   11.5  0.000338   60  300   60.005308   918.368057
9      1  173.72  11.21  0.000807   25  162  109.764614  1413.904274
10     1  175.95  10.72  0.001203   20  160  159.999813   1921.94472
11     1  186.86  11.21  0.003586   20   80   25.230441   471.976005
12     2  230.27    9.9  0.005513   55   65   64.999841   897.060736
13     1  225.28  13.12  0.000371   25   85   25.000060   553.512663
14     1  309.03  12.12  0.001929   15   55   15.000268   491.267286
15     1  323.79  12.41  0.004447   15   55   15.000123   510.942121

In [28]:
solution['operation']['b']

tgu
1     10.07
2     10.22
3       8.8
4       8.8
5      10.4
6      10.1
7      9.87
8      11.5
9     11.21
10    10.72
11    11.21
12      9.9
13    13.12
14    12.12
15    12.41
Name: b, dtype: object

In [ ]:
.size == 0

In [50]:
paths.query("path == '{}'".format(chosen_path)).values.size == 0

True

In [47]:
Colony.paths

{0:                               path   status      distance       tau
 ant
 1    1,2,1,1,2,4,1,1,1,1,1,2,1,1,1  optimal  32672.124337  0.000031
 2    1,1,1,1,4,4,1,1,1,1,1,3,1,1,1  optimal  32635.669146  0.000031
 3    1,3,1,1,4,2,1,1,1,1,1,1,1,1,1  optimal  32575.017052  0.000031
 4    1,4,1,1,2,4,1,1,1,1,1,2,1,1,1  optimal  32558.357929  0.000031
 5    1,3,1,1,1,3,1,1,1,1,1,1,1,1,1  optimal  32688.619792  0.000031}

In [209]:
[Colony.pheromone.sample(n=1, weights=Colony.pheromone[tgu], axis=0).index[0] for tgu in Colony.pheromone.columns]

[1, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1]

[1, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1]

In [161]:
Colony.pheromone.sample(n=1, weights=Colony.pheromone[2], axis=0).index[0]

4

In [165]:
Colony.pheromone

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
opz,,,,,,,,,,,,,,,
1,0.3066,0.0000,0.3066,0.3066,0.0000,0.0612,0.3066,0.3066,0.3066,0.3066,0.3066,0.0612,0.3066,0.3066,0.3066
2,0.0000,0.0000,0.0000,0.0000,0.1840,0.0612,0.0000,0.0000,0.0000,0.0000,0.0000,0.1226,0.0000,0.0000,0.0000
3,0.0000,0.1226,0.0000,0.0000,0.1226,0.1842,0.0000,0.0000,0.0000,0.0000,0.0000,0.1228,0.0000,0.0000,0.0000
4,0.0000,0.1840,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [66]:
import random


random.choices(population=Colony.pheromone[1], weights=[Colony.pheromone[1][i+1]/Colony.pheromone[1].sum() for i,n in enumerate(Colony.pheromone[1])],k=1)

[1]

In [75]:
[Colony.pheromone[1][i+1]/Colony.pheromone[1].sum() for i,n in enumerate(Colony.pheromone[1])]

[1.0, 0.0, 0.0, 0.0]

In [69]:
Colony.pheromone[1].sum()

0.3066