<center><h1>Testing Notebook</h1></center>

## Loading Entities:

 - Power System
 - Ant Colony

In [ ]:
from acopoweropt import system, colony

PSystem = system.PowerSystem(name='s10')
Colony = colony.Colony(n_ants=5,phr_evp_rate=0.25)

## Testing Power System

In [ ]:
# Randomly select an operation
operation = PSystem.sample_operation()

# Solve system
solution = PSystem.solve(operation=operation)

In [ ]:
solution.get('Ft')

## Testing Colony

In [1]:
import pandas as pd
import numpy as np

from acopoweropt import colony, system

PSystem = system.PowerSystem(name='s15')
Colony = colony.PowerColony(n_ants=5,
                            pheromone_evap_rate=0.25,
                            PowerSystem=PSystem)

In [14]:
Colony.initial_paths

                              path   status      distance       tau
ant
1    1,1,1,1,1,4,1,1,1,1,1,1,1,1,1  optimal  32935.778875  0.000030
2    1,4,1,1,2,4,1,1,1,1,1,1,1,1,1  optimal  32576.097022  0.000031
3    1,4,1,1,2,3,1,1,1,1,1,3,1,1,1  optimal  32571.398082  0.000031
4    1,4,1,1,1,1,1,1,1,1,1,2,1,1,1  optimal  32850.946954  0.000030
5    1,1,1,1,2,4,1,1,1,1,1,3,1,1,1  optimal  32794.667176  0.000030

In [2]:
Colony.pheromone

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
opz,,,,,,,,,,,,,,,
1,0.3054,0.1218,0.3054,0.3054,0.1216,0.0608,0.3054,0.3054,0.3054,0.3054,0.3054,0.1222,0.3054,0.3054,0.3054
2,0.0000,0.0000,0.0000,0.0000,0.1838,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0608,0.0000,0.0000,0.0000
3,0.0000,0.0000,0.0000,0.0000,0.0000,0.0614,0.0000,0.0000,0.0000,0.0000,0.0000,0.1224,0.0000,0.0000,0.0000
4,0.0000,0.1836,0.0000,0.0000,0.0000,0.1832,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [21]:
# Evaporate pheromone
# MFero[row, 0] = (1 - sigma_best) * MFero[row, 0]

Colony.pheromone = (1 - Colony.phr_evp_rate) * Colony.pheromone

In [22]:
Colony.pheromone

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
opz,,,,,,,,,,,,,,,
1,0.22905,0.09135,0.22905,0.22905,0.09120,0.04560,0.22905,0.22905,0.22905,0.22905,0.22905,0.09165,0.22905,0.22905,0.22905
2,0.00000,0.00000,0.00000,0.00000,0.13785,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.04560,0.00000,0.00000,0.00000
3,0.00000,0.00000,0.00000,0.00000,0.00000,0.04605,0.00000,0.00000,0.00000,0.00000,0.00000,0.09180,0.00000,0.00000,0.00000
4,0.00000,0.13770,0.00000,0.00000,0.00000,0.13740,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [16]:
# 1 - Sample 80% to follow paths leaving 20% of the ants to select new paths
n_iter = 1

paths = {0: Colony.initial_paths}

for i in range(n_iter):
    
    # Evaporate Pheromone
    Colony.pheromone = (1 - Colony.phr_evp_rate) * Colony.pheromone
    
    if i == 0:
        paths = Colony.initial_paths
        
        following_ants = paths.sample(frac=0.8, replace=False, random_state=1)
        random_ants = paths.drop(following_ants.index)
        
        for ant in following_ants:
            follow_path = Colony.choose_path()

In [19]:
following_ants.index

Int64Index([3, 2, 5, 1], dtype='int64', name='ant')

In [20]:
random_ants.index

Int64Index([4], dtype='int64', name='ant')

In [209]:
[Colony.pheromone.sample(n=1, weights=Colony.pheromone[tgu], axis=0).index[0] for tgu in Colony.pheromone.columns]

[1, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1]

[1, 4, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1]

In [161]:
Colony.pheromone.sample(n=1, weights=Colony.pheromone[2], axis=0).index[0]

4

In [165]:
Colony.pheromone

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
opz,,,,,,,,,,,,,,,
1,0.3066,0.0000,0.3066,0.3066,0.0000,0.0612,0.3066,0.3066,0.3066,0.3066,0.3066,0.0612,0.3066,0.3066,0.3066
2,0.0000,0.0000,0.0000,0.0000,0.1840,0.0612,0.0000,0.0000,0.0000,0.0000,0.0000,0.1226,0.0000,0.0000,0.0000
3,0.0000,0.1226,0.0000,0.0000,0.1226,0.1842,0.0000,0.0000,0.0000,0.0000,0.0000,0.1228,0.0000,0.0000,0.0000
4,0.0000,0.1840,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [66]:
import random


random.choices(population=Colony.pheromone[1], weights=[Colony.pheromone[1][i+1]/Colony.pheromone[1].sum() for i,n in enumerate(Colony.pheromone[1])],k=1)

[1]

In [75]:
[Colony.pheromone[1][i+1]/Colony.pheromone[1].sum() for i,n in enumerate(Colony.pheromone[1])]

[1.0, 0.0, 0.0, 0.0]

In [69]:
Colony.pheromone[1].sum()

0.3066